exercises/IntermediateAlgorithmScripting/07-DNAPairing/*
exercises/IntermediateAlgorithmScripting/06-PigLatin/*
exercises/IntermediateAlgorithmScripting/05-SearchAndReplace/*
exercises/IntermediateAlgorithmScripting/04-WhereforeArtThou/*
exercises/IntermediateAlgorithmScripting/03-RomanNumeralConverter/*
exercises/IntermediateAlgorithmScripting/02-DiffTwoArrays/*
exercises/IntermediateAlgorithmScripting/01-SumAllNumbersInARange/*